* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(69, 68, 68);
    color: white;
}

/* Cabeçalho */
header {
    background-color: rgb(65, 0, 65);
    box-shadow: 0 0 10px;
    /* margin-bottom: 50px; */
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    margin: 0 5% 0 5%;
} 

.logo {
    height: 100px;
    display: flex;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo img {
    height: 100%;
    width: 100%;
} 

.mensagem {
    height: 33%;
    padding: 0 1% 0 1%;
    background-color: rgb(255, 0, 255);
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.envelopelogo {
    padding: 3%;
    height: 100%;
}

@media only screen and (max-width: 770px) {
    .mensagem h1 {
        display: none;
    }
    .abertura {
        margin: 15px;
        padding: 0;
        flex-direction: column-reverse;
    }
    .abertura-texto {
        z-index: 1;
        position: absolute;
        font-size: 20px;
        transform: translateY(-20px);
        padding: 5%;
    }

    .abertura-texto h1 {
        font-size: 40px;
        white-space: wrap;
    }

    .abertura-texto {
        width: 100%;
        
    }
} 

/* Galeria */
.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.galeria h1 {
    font-size: 5vw;
    font-weight: 900;
}

.galeria-fotos {
    margin: 0 5% 0 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.galeria-fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

footer {
    background-color: rgb(65, 0, 65);
    color: white;
    padding: 50px 5% 50px 5%;
    text-align: justify;
}

footer h1{
    text-align: center;
}

strong {
    color: red;
} 

@media only screen and (max-width: 770px) {
    .galeria h1 {
        text-align: center;
        margin: 0;
        margin-top: 20px;
        font-size: 50px;
    }

    .galeria a {
        font-size: 25px;
    }

    footer {
        font-size: 10px;
    }
}