* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-weight: bolder;
}

body {
    background-color: rgb(69, 68, 68);
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(36, 36, 36);
    color: white;
    /* width: 800px;
    max-width: 80%;
    margin: auto; */
}

/* Cabeçalho */
header {
    background-color: rgb(65, 0, 65);
    box-shadow: 0 0 10px;
    /* margin-bottom: 50px; */
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    margin: 0 5% 0 5%;
} 

.logo {
    height: 100px;
    display: flex;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo img {
    height: 100%;
    width: 100%;
} 

.mensagem {
    height: 33%;
    padding: 0 1% 0 1%;
    background-color: rgb(255, 0, 255);
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.envelopelogo {
    padding: 3%;
    height: 100%;
}

/* Abertura */
.abertura {
    display: flex;
    /* height: 400px; */
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 5%;
}

.abertura-texto {
    width: 40%;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.abertura-texto h1 {
    position: relative;
    z-index: 1;
    font-size: 60px;
    white-space: nowrap;
}

.abertura-img {
    width: 100%;
    height: 100%;
}

.abertura-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 10px 0 0 10px;
    filter: blur(5px);
}

@media only screen and (max-width: 770px) {
    .mensagem h1 {
        display: none;
    }
    .abertura {
        margin: 15px;
        padding: 0;
        flex-direction: column-reverse;
    }
    .abertura-texto {
        z-index: 1;
        position: absolute;
        font-size: 20px;
        transform: translateY(-20px);
        padding: 5%;
    }

    .abertura-texto h1 {
        font-size: 40px;
        white-space: wrap;
    }

    .abertura-texto {
        width: 100%;
        
    }
}  

.foto-favorita {
    margin: 0;
    display: flex;
    width: 100%;
}

.destaque {
    width: 50%;
}

.destaque::after {
    content: "";
    display: block;
}

.destaque img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção da imagem preenchendo o quadrado */
    /* border-radius: 30px; */
    aspect-ratio: 1/1;
}

.destaque-texto {
    font-size: 30px;
    width: 50%;
    text-align: justify;
    padding: 5%;
}

@media only screen and (max-width: 770px) {
    .foto-favorita {
        display: block;
    }
    .destaque {
        width: 100%;
    }

    .destaque img {
        height: 280px;
        object-position: 0% 20%;
    }

    .destaque-texto h1{
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: bolder;
        text-shadow: 1px 1px 2px white;
    }

    .destaque-texto {
        width: 100%;
        font-size: 15px;
    }
}

.galeria {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.galeria h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 50px;
}

.galeria-fotos {
    margin: 0 5% 0 5%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2%;
}

.galeria-fotos img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.galeria a {
    margin-top: 5%;
    display: inline-block;
    background-color: rgb(255, 0, 255);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 50px;
}


footer {
    background-color: rgb(65, 0, 65);
    color: white;
    padding: 50px 5% 50px 5%;
    text-align: justify;
}

footer h1{
    text-align: center;
}

strong {
    color: red;
} 

@media only screen and (max-width: 770px) {
    .galeria h1 {
        text-align: center;
        margin: 0;
        margin-top: 20px;
        font-size: 50px;
    }

    .galeria a {
        font-size: 25px;
    }

    footer {
        font-size: 10px;
    }
}